* text=auto eol=lf
*.swift text eol=lf
*.x text eol=lf
*.m text eol=lf
*.h text eol=lf
*.mm text eol=lf
*.plist text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
*.py text eol=lf
Makefile text eol=lf
control text eol=lf