Package: com.rtmpcamera.camera
Name: RTMPCamera
Version: 1.0.16
Architecture: iphoneos-arm64e
Description: iOS Virtual Camera - RTMP/Video/Injection/Floating/Log v1.0.16
Maintainer: ourongyime <9450915@qq.com>
Author: ourongyime <9450915@qq.com>
Section: Tweaks
Depends: firmware (>= 16.0), ellekit