Package: com.greencam.swizzle
Name: GreenCam-Swizzle
Version: 1.0.0
Architecture: iphoneos-arm64e
Description: iOS 16 Virtual Camera Test - Proxy-Delegate hook AVCaptureVideoDataOutput (Green Frame)
Maintainer: Test
Author: Test
Section: Tweaks
Depends: firmware (>= 16.0), ellekit
