{
    Filter = {
        Bundles = (
            "com.apple.springboard",
            "com.tencent.xin",
            "com.apple.camera",
            "com.apple.UIKit",
            "com.apple.mobilesafari",
            "com.apple.avfoundation",
            "com.apple.FaceTime",
            "com.ss.iphone.ugc.Aweme",
            "com.tencent.live4iphone",
            "com.tencent.ww",
            "com.alibaba.taobao.live",
            "com.smile.gifmaker",
            "com.bytedance.live",
            "com.burbn.instagram",
            "com.google.ios.youtubemusic"
        );
    };
}
